<mat-stepper orientation="horizontal" linear #stepper>
  <!-- First Step -->
  <mat-step [stepControl]="wizardForm1">
    <form [formGroup]="wizardForm1">
      <mat-form-field>
        <label mat-label for="firstName">First Name:</label>
        <input
          matInput
          type="text"
          id="firstName"
          formControlName="firstName"
        />
      </mat-form-field>
    </form>
    <div>
      <button mat-button matStepperNext [disabled]="wizardForm1.invalid">
        Next
      </button>
    </div>
  </mat-step>

  <!-- Second Step -->
  <mat-step [stepControl]="wizardForm2">
    <form [formGroup]="wizardForm2">
      <mat-form-field>
        <label mat-label for="lastName">Last Name:</label>
        <input matInput type="text" id="lastName" formControlName="lastName" />
      </mat-form-field>
    </form>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext [disabled]="wizardForm2.invalid">
        Next
      </button>
    </div>
  </mat-step>

  <!-- Third Step -->
  <mat-step [stepControl]="wizardForm3">
    <form [formGroup]="wizardForm3">
      <mat-form-field>
        <label mat-label for="email">Email:</label>
        <input matInput type="email" id="email" formControlName="email" />
      </mat-form-field>
    </form>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button
        mat-button
        matStepperNext
        [disabled]="
          wizardForm1.invalid && wizardForm2.invalid && wizardForm3.invalid
        "
      >
        Finish
      </button>
    </div>
  </mat-step>

  <!-- Completed Step -->
  <mat-step>
    <p>Application Complete</p>
    <p>Thank you for completing the form. Your values are:</p>
    <table>
        <tr><td>First Name: </td><td>{{ this.wizardForm1.controls['firstName'].value }}</td></tr>
        <tr><td>Last Name: </td><td>{{ this.wizardForm2.controls['lastName'].value }}</td></tr>
        <tr><td>Email: </td><td>{{ this.wizardForm3.controls['email'].value }}</td></tr>
    </table>
    <div>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
