/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

h1, h2, h3, p {
    font-family: "Roboto";
    color: white;
}

body {
    margin: 0 auto;
    width: 1000px;
    background-image: url('/background.jpg');
    background-size: cover; 
}

button {
    color: white;
}